@import url("https://fonts.googleapis.com/css2?family=Mooli&display=swap");

:root {
    --primary-color: #52489c;
    --secondary-color: #59c3c3;
    --accent-color: #f45b69;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: Mooli, sans-serif;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2em;
    color: var(--text-dark);
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: var(--primary-color);
    color: var(--text-light);
    padding: 1em;
    text-align: center;
}

h1, h2 {
    font-family: var(--secondary-font);
    text-align: center;
}

nav a {
    color: var(--accent-color);
    text-decoration: none;
    margin: 0 0.5em;
}

.menu {
    background: none;
    border: none;
    color: var(--accent-color);
    font-size: 1em;
    cursor: pointer;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 1em;
}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    height: 250px;
    width: 250px;
    object-fit: cover;
    display: block;
    margin: auto;
}
.hide {
	display: none;
}

footer {
    margin-top: 2em;
}

@media (min-width: 700px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1000px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

    nav {
        display: inline;
    }
    .menu {
        display:block
    }
    .menu-button{
        display: none;
    }
}

dialog {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.6);
}

dialog img {
  width: 90%;
  max-height: 100%;
  display: block;
  margin: 20vh auto;
}

.close-viewer {
  position: absolute;
  top: 20vh;
  right: 5%;
  background: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
